@import "./ImportFont";
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');

// 1. Your custom variables and variable overwrites.
$color-pallet-1: #19eef1;
$color-pallet-2: #05b7ed;
$color-pallet-3: #fa6ef5;
$color-pallet-4: #940e8c;
$color-pallet-5: #531499;
$color-pallet-6: #260962;

$global-link-color: $color-pallet-1;
$global-font-family: Montserrat, Lato, sans-serif;
// 2. Import default variables and available mixins.
@import "~uikit/src/scss/variables-theme";
@import "~uikit/src/scss/mixins-theme";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "~uikit/src/scss/uikit-theme";

// Custom Mixins
@import "./Mixins/Custom";

// Custom Functions
@import 'Functions';

// NavBar Setup
.sp-nav {
  @extend .uk-container-expand;
  nav.not-user {
    a {
      @include font-smoothing;
      height: 80px;
      font-weight: bolder;
      line-height: 2.3;
      text-align: center;
      font-size: xx-large;
      transition: all 250ms ease-in-out;
    }
    a:first-child {
      background: $color-pallet-5;
      color: $color-pallet-3;
    }
    a:first-child:hover {
      text-decoration: none;
      color: tint($color-pallet-3, 10);
      background: tint($color-pallet-5, 10);
    }
    a:first-child:active {
      color: shade($color-pallet-3, 10);
      background: shade($color-pallet-5, 10);
    }
    a:last-child {
      color: $color-pallet-6;
      background: $color-pallet-3;
    }
    a:last-child:hover {
      text-decoration: none;
      color: tint($color-pallet-6, 10);
      background: tint($color-pallet-3, 10);
    }
    a:last-child:active {
      color: shade($color-pallet-6, 10);
      background: shade($color-pallet-3, 10);
    }
  }
  nav.user {
    span:first-child {

    }
    span:nth-child(2) {

    }
    span:nth-child(3) {

    }
    span:last-child {

    }
  }
    // TODO:  First Child Design, Reaction
    // TODO:  Second Child Design, Reaction
    // TODO:  Third Child Design, Reaction
    // TODO:  Forth Child Design, Reaction
}

// Item Flex Center
.sp-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Base Page Setup
@mixin PageSetup($color1, $color2) {
  color: $color1;
  background: $color2;

  h1 {
    color: $color1 !important;
  }

  // Card
  .sp-card {
    @extend .uk-card;
    @extend .uk-card-body;
    @extend .uk-card-default;
    color: $color2;
    background: $color1;
    box-shadow: 0 5px 15px rgba($color1, .4);
  }

  form {
    .sp-input {
      margin: 0 0 20px 0;
      position: relative;
      input {
        @extend .uk-input;
        @include placeholder {
          color: shade($color2, 50);
          font-size: small;
          transition: font-size 250ms ease-in-out;
        }
        position: relative;
        z-index: 999;
        color: $color2;
        background: transparent !important;
        border: 0 solid transparent;
        font-weight: 900;
        transition: color 10ms 150ms ease-in-out;
      }
      span {
        width: 100%;
        height: 5px;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 3em;
        position: absolute;
        background: $color2;
        transition: all 250ms ease-in-out;
      }
      &.sp-form-icon {
        .sp-icon {
          position: absolute;
          height: 1.5em;
          width: 1.5em;
          top: 17%;
          left: 1%;
          cursor: pointer;
          color: $color2;
          z-index: 1000;
          transition: color 10ms 150ms ease-in-out;
        }
        input {
          padding: 0 0 0 35px;
        }
      }
      &.focus {
        input {
          color: $color1;
          @include placeholder {
            color: shade($color1, 50);
            font-size: large;
            transition: font-size 250ms ease-in-out;
          }
        }
        .sp-icon {
          color: $color1;
        }
        span {
          border-radius: 10px;
          box-shadow: 0 5px 15px rgba($color2, .4);
          height: 80%;
          bottom: 10%;
        }
      }
    }
    .sp-button {
      button {
        @extend .uk-button;
        @extend .uk-button-primary;
        color: $color1;
        background: $color2;
        transition: all 250ms ease-in-out;
        &:focus:not(:disabled), &:hover:not(:disabled) {
          color: tint($color1, 10);
          background: tint($color2, 10);
          box-shadow: 0 5px 15px rgba($color2, .4);
        }
        &:active:not(:disabled) {
          color: shade($color1, 10);
          background: shade($color2, 10);
          box-shadow: inset 0 5px 15px rgba($color1, .4);
        }
        &:disabled {
          color: tint($color1, 30);
          background: tint($color2, 30);
          border: $color1 solid 1px;
          cursor: not-allowed;
        }
      }
    }
  }
}

// Content to be displayed
.sp-content {
  @extend .uk-container-expand;
  height: 100vh;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);

  h1 {
    @extend .uk-h1;
    text-align: center;
    font-weight: bolder;
  }

  &.sp-login {
    .sp-container {
      @extend .uk-grid;
      @extend .sp-flex-center;
      @extend .uk-child-width-1-3\@l;
      @extend .uk-child-width-1-2\@m;
      @extend .uk-child-width-1-1\@s;
      @extend .uk-align-center;
    }
    @include PageSetup($color-pallet-3, $color-pallet-5);
  }
  &.sp-register {
    @include PageSetup($color-pallet-6, $color-pallet-3);
  }

}

.sp-1-2 {
  @extend .uk-width-1-2;
}

.sp-content-enter {
  transform: translateX(100%);
}

.sp-content-enter-active {
  transform: translateX(0);
}

.sp-content-exit-active {
  transform: translateX(-100%);
}